doctype html
html(ng-app="jsonTester")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
		script(src='/javascripts/ace/src-min/ace.js')
		script(src='/javascripts/ui-ace.js')
		script(src='/javascripts/app.js')
		script(src='/javascripts/config.js')
		script(src='/javascripts/controllers.js')
		script(src='/javascripts/directives.js')
		script(src='/javascripts/factories.js')