doctype html
html
	head
		title= (typeof message !== 'undefined' ? message.title + ' | ' : '') + 'Docker Sequelize'
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		h1 Messages
		block content