<header>
	<h1><input id="title" ng-model="current.title" type="text" name="title" placeholder="JSON Transformer"/></h1>
	
	<button ng-click="new()" >New</button>
	<div ng-show="isLoggedIn" ng-if="controls.showSavePane">
		<button ng-if="current.id && current.owner == currentUser.id" ng-click="update()">Update</button>

		<button ng-if="current.id" ng-click="fork()">Fork</button>

		<button ng-if="!current.id" ng-click="create()">Save</button>
	</div>
	<nav id="pagenav" rol="nav" ng-init="$root.inview = 'input'">
		<a ng-class="{'inview' : $root.inview == 'input'}" ng-click="$root.inview = 'input'">Input</a>
		<a ng-class="{'inview' : $root.inview == 'transform'}" ng-click="$root.inview = 'transform'">Code</a>
		<a ng-class="{'inview' : $root.inview == 'output'}" ng-click="$root.inview = 'output'">Output</a>
	</nav>
</header>

<div id="editors">
	<show-editor title="Input (stores as 'input')" id="input" model="current.input" mode="json"></show-editor>
	<show-editor title="Ecmascript" model="current.transform" id="transform" mode="javascript"></show-editor>
	<show-editor title="Output" model="current.output" id="output"  mode="json"> </show-editor>
</div>

<button id="runbtn" ng-click="run(); $root.inview = 'output';" >Run</button>

<div id="controls" ng-class="{open : controls.open}" ng-init="controls.open = false">
	<div ng-show="server.up">
		<button ng-click="controls.open = !controls.open; controls.showSavePane=false; controls.showLoadPane=false; controls.showRegisterPane=false; controls.showLoginPane=false" id="opener">Menu</button>
		<div id="auther">
			<button ng-if="!isLoggedIn" ng-click="controls.showLoginPane = !controls.showLoginPane; controls.showRegisterPane=false;" >Log In</button>
			<div ng-if="controls.showLoginPane">
				<form ng-submit="login(auth.username,auth.password)">
					<label for="username">Username:</label>
					<input ng-model="auth.username" type="text" name="username"/>
					<label for="password">Password:</label>
					<input ng-model="auth.password" type="password" name="password"/>
					<button>Go</button>
				</form>
			</div>
			<button ng-if="!isLoggedIn" ng-click="controls.showRegisterPane = !controls.showRegisterPane; controls.showLoginPane=false;">Register</button>
			<div ng-if="controls.showRegisterPane">
				<form ng-submit="register(auth.username,auth.email,auth.password)">
					<label for="username">Username:</label>
					<input ng-model="auth.username" type="text" name="username"/>
					<label for="password">Password:</label>
					<input ng-model="auth.password" type="password" name="password"/>
					<label for="email">Email Address:</label>
					<input ng-model="auth.email" type="text" name="email"/>
					<button>Go</button>
				</form>
			</div>
			<button ng-if="isLoggedIn" ng-click="logout()" >Log out</button>
		</div>
		<div id="loader">
			<button ng-init="controls.showLoadPane = false" ng-click="query(currentUser.username); controls.showLoadPane = !controls.showLoadPane; controls.showSavePane=false;" ng-show="isLoggedIn">Load Mine...</button>
			<button ng-init="controls.showLoadPane = false" ng-click="query(); controls.showLoadPane = !controls.showLoadPane; controls.showSavePane=false;">Load All...</button>
			<div ng-if="controls.showLoadPane && loadList == false">
				Loading...
			</div>
			<ul ng-if="controls.showLoadPane && loadList.length > 0">
				<li ng-repeat="item in loadList" ng-click="read(item.id)">{{item.title != null ? item.title : item.id}}</li>
			</ul>
		</div>
		<button ng-click="del()" ng-if="isLoggedIn && currentUser.id == current.owner" >Delete</button>
		</div>
	
	<button ng-click="ping()" ng-show="!server.up" id="reconnecter">
		<span ng-show="!server.connecting"><em>Server Down</em><br/>Reconnect</span>
		<span ng-show="server.connecting">Reconnecting</span>
	</button>
</div>

<ng-include src="'templates/error.html'"></ng-include>