form > * {
	display: block;
}

table
{
	width: 200px;
}

th {
	background: #eee;
}

td {
	border: 1px solid #222;
	text-align: center;
}

.message > * {
	display: block;
}

.message h2 {
	background: #eee;
	padding: 10px;
	margin: 0;
	
}
.message div {
	border: 1px solid #eee;
	padding: 10px;
	display: block;
}