

body {
	font-size: 14px; 
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

/* headings */

h1, h2, h3 {
	padding: 5px 10px;
	margin: 0;
}

h1 {
	width: 80%;
	float: left;
}
header button {
	width: 
}

h1,
h1 #title{
	padding: 0;
	font-size: 1.3em;
	font-weight: bold;
}


h1 #title
{
	border: 0;
	border-bottom: 1px dotted #333;
	background: #eee;
	padding: 10px 10px 0;
	width: 50%;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h4,h5,h6 {
	font-size: 1em;
}

/* navigation */

#pagenav {
	width: 100%;
	display: table;
}
#pagenav a {
	display: table-cell;
	text-align: center;
	margin: 0 10px;
	padding: 10px 0;
	background-color: #7db3dc;
	color: #fff;
	text-decoration: none;
	border-left: 2px solid #fff;
}

#pagenav a:first-child{
	border-left: 0
	
}

#pagenav a:hover {
	background: #517693
}

/* layout -- eventually implement with grids*/
#editors {
	//position: relative;
}

.editorholder
{
	position: absolute;
	top: 77px;
	left: 0;
	right: 0;
	bottom: 37px;
	display: none;
}

.ace_editor {
	position: absolute !important;
    top: 34px;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #aaa;
    border-radius: 1px;
	font-size: 11px;
}

.editorholder #inview {
	display: block;
}

#transform .ace_editor {
}

#controls {
	position: absolute;
	top: 0;
	z-index: 4;
	right: 0;
	display: block;
}
#controls button {
	display: none;
	width: 120px;
	border-bottom: 120px;
}
#controls #opener
{
	display: block;
} {
	
}

#controls.open button{
	display: block;
}
button {
	background: #50D478;
	border: 0;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-size: 1em;
}


.error {
	border: 2px solid #e00122 !important;
}
#runbtn
{
	position: fixed;
	width: 100%;
	z-index: 5;
	bottom: 0;
}
.editorholder.inview {
	display: block;
}
#loader {
	position: relative;
}
#loader ul
{
	background: #50D478;
	position: absolute;
	right: 0;
	padding: 0;
	min-width: 300px;
	margin: 0;
	list-style: none;
}

#loader ul li {
	padding: 5px 10px;
	color: #fff;
}

button:hover,
button:active,
#loader ul li:hover,
#controls.open #opener
{
	cursor: pointer;
	background: #298043;
}


#saver div,
#auther div {
	background: #50D478;
	position: absolute;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: 2;
	min-width: 300px;
	
}

#saver div input,
#auther div input {
	width: 100%;
	background: rgba(256,256,256,0.5);
	padding: 10px;
	font-size: 1em;
	border: none;
	border-bottom: 1px solid #ddd;
}

#saver div button {
	float: right;
	clear: both;
}

@media (max-width: 768px) {
	#pagenav a.inview {
		background: #517693;
	}
}
@media (min-width: 768px) {
	.editorholder {
		display: block;
	}
	
	#pagenav  {
		display: none;
	}
	#input {
		right: 50%;
		top: 37px;
		bottom: 50%;
		left: 0;
		margin-right: 10px;
	}
	#output {
		right: 50%;
		top: 50%;
		bottom: 0;
		left: 0;
		margin-right: 10px;
	}
	#transform {
		lefT: 50%;
		right: 0;
		bottom: 37px;
		top: 37px;
	}
	#runbtn
	{
		width: 50%;
		left: 50%;
		bottom: 0;
		right: 0;
	}
	
}
@media (min-width: 992px) {
}

@media (max-height: 700px) {
}

.unsaved {
	color: #cc0011
}

#modal-wrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
#modal-background {
	
}
#modal-window {
	position: absolute;
	top: 50%;
	lefT: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5)
}

#modal-window a {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 10px;
	cursor: pointer;
}

em {
	color: #888;
	font-size: .8em;
}


button#reconnecter
{
	background: #a60202;
	display: block;
}